*{
    box-sizing: border-box;
}

body, h1, h2, h3, p, ul, small {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: rebeccapurple;
    color: ivory;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

section {
    padding: 60px 0;
}

.heroe h1 {
    font-size: 65px;
    font-weight: 700;
}

.heroe .container {
    text-align: center;
}

.container h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 16px;
}

.container p {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6;
}

.heroe p {
    font-size: 20px;
    margin-top: 16px;
}

.heroe small {
    font-size: 14px;
    margin-top: 32px;
    font-style: italic;
    text-transform: uppercase;
}

.cta-boton {
    display: inline-block;
    margin-top: 32px;
    padding: 12px 24px;
    background-color: indigo;
    color: ivory;
    text-decoration: none;
    font-weight: 700;
    border-radius: 5px;
    transition: all 0.3s ease;
    box-shadow: 2px 2px 2px black;
}

.cta-boton:hover {
    transform: scale(1.05);
    box-shadow: 4px 4px 4px black;
}

.tags {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    gap: 8px;
}

.tags li {
    padding: 4px 12px;
    background-color: coral;
    color: ivory;
    border-radius: 999px;
    font-size: 12px;
    font-weight: 700;
}

.project-card {
    background-color: indigo;
    margin-top: 24px;
    padding: 24px;
    border-radius: 8px;
    margin-bottom: 24px;
    box-shadow: 2px 2px 2px black;
}

.project-grid {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
}

.project-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 24px black;
}

.project-card h3 {
    margin-bottom: 12px;
}

.project-card .tags {
    margin-bottom: 12px;
    margin-top: 12px;
}

.project-card a {
    color: inherit;
    text-decoration: none;
    background-image: linear-gradient(to right, rgb(255, 161, 255), rebeccapurple);
    background-repeat: no-repeat;
    background-position: 0 100%;
    background-size: 0% 4px;
    transition: all 0.3s ease;
}

.project-card a:hover {
    background-size: 100% 4px;

}

.project-card a h3 {
    display: inline;
}

.portafolio {
    background-color: rgb(52,49,72);
}

.container svg {
    display: block;
    max-width: 600px;
    height: auto;
    margin: 40px auto;
}